@{
    ViewData["Title"] = "Josip Draguljic";
}

<div class="text-center">
    <h1 class="headline" id="about_me_part">About me</h1>
    <div id="about_me">
        <div id="testing">
            <img src="~/images/me.png" class="MyPhoto" />
            <h1 class="visitcard_name">Josip Draguljic</h1>
            <h1 class="visitcard_name">Software developer</h1>
            <div id="imageHref">
                <a href="https://at.linkedin.com/in/josip-dragulji%C4%87-16575b52" target="_blank"> <img class="imageLink" src="~/images/linkedin.png" /></a>
                <a href="https://www.xing.com/profile/Josip_Draguljic" target="_blank"> <img class="imageLink" src="~/images/xing.png" /></a>
                <a href="https://github.com/SnowBuddy1997" target="_blank"> <img class="imageLink" src="~/images/GitHub.png" /></a>
            </div>
            <div id="visitcard_name_info"><h1>While striving for excellence, I am continuously working on improving my problem-solving skills. Up till now I managed to gather knowledge in: C, C++, C#, Java, SQL,Full Stack Web development, Linux Server</h1></div>
        </div>
    </div>

    <h1 class="headline" id="resume_part">Resume</h1>
    @*<div id="resume">*@


    <section class="timeline-section">
        <div class="timeline-items">

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;04/2020 - today</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">Bicycle courier by <b>Velofood</b></h3>
                    <p> I manage my own working hours and deliver food, together with my collegues, for over 60 restaurants in Graz</p>
                    <p class="timeline-item-skill">Time Management</p>
                    <p class="timeline-item-skill">Self-discipline</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;01/2020 - 03/2020</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">MES Software developer by <b>VTU Engineering</b></h3>
                    <p>By woking here, I was able to get an insight into how Software developer work/life looks like</p>
                    <p class="timeline-item-skill">C#</p>
                    <p class="timeline-item-skill">Entity Framework</p>
                    <p class="timeline-item-skill">SQL</p>
                    <p class="timeline-item-skill">Atvise</p>
                    <p class="timeline-item-skill">Wonderware</p>
                    <p class="timeline-item-skill">Git Version control</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;09/2019 - 12/2019</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">IT ServiceDesk by <b>ACP IT Solutions</b></h3>
                    <p>Together with my teammates I was helping our customers resolve computer hardware/software issues</p>
                    <p class="timeline-item-skill">Customer Service</p>
                    <p class="timeline-item-skill">Adaptability</p>
                    <p class="timeline-item-skill">Teamwork</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;07/2019 - 08/2019</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">Bicycle courier by <b>Velofood</b></h3>
                    <p>I managed my own working hours and delivered food, together with my collegues, for over 60 restaurants in Graz</p>
                    <p class="timeline-item-skill">Time Management</p>
                    <p class="timeline-item-skill">Self-discipline</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;10/2018 - 06/2019</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">IT Software development education at <b>SZF</b></h3>
                    <p>Thanks to this education I was able to get a start in my career as a Software developer</p>
                    <p class="timeline-item-skill">C</p>
                    <p class="timeline-item-skill">C++</p>
                    <p class="timeline-item-skill">C#</p>
                    <p class="timeline-item-skill">Java</p>
                    <p class="timeline-item-skill">SQL</p>
                    <p class="timeline-item-skill">Qt</p>
                    <p class="timeline-item-skill">Linux</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;07/2018 - 09/2018</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">Bicycle courier by <b>Velofood</b></h3>
                    <p>I managed my own working hours and delivered food, together with my collegues, for over 60 restaurants in Graz</p>
                    <p class="timeline-item-skill">Time Management</p>
                    <p class="timeline-item-skill">Self-discipline</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;07/2017 - 06/2018</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">Warehouse worker by <b>DPD</b></h3>
                    <p> woking inside the warehouse I often had to push my body near its limits, which gave me insight into my body's capabilities</p>
                    <p class="timeline-item-skill">Physical resilience</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;11/2015 - 07/2017</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">Volunteering by <b>AIESEC</b> NGO</h3>
                    <p>In collaboration with UN and with an amazing team, I was able to target world's social challenges</p>
                    <p class="timeline-item-skill">Team Management</p>
                    <p class="timeline-item-skill">Project Management</p>
                    <p class="timeline-item-skill">Self-discipline</p>
                    <p class="timeline-item-skill">Conference organisation</p>
                    <p class="timeline-item-skill">Logistics</p>
                    <p class="timeline-item-skill">Leadership qualities</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;10/2015 - 02/2016</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">German language course</h3>
                    <p> Coming to a new country wasn't easy. This course gave me the necessary tools to be able to interact with others</p>
                    <p class="timeline-item-skill">German C1</p>
                </div>
            </div>

            <div class="timeline-item">
                <div class="timeline-dot"></div>
                <div class="timeline-date">&nbsp;08/2011 - 08/2015</div>
                <div class="timeline-content">
                    <h3 class="timeline-item-headline">Secondary technology school in Croatia</h3>
                    <p> This is where my fascination for technology has started. Place where I proved to myself that everything is achiveable if you work for it</p>
                    <p class="timeline-item-skill">English B2</p>
                    <p class="timeline-item-skill">IT Computer technician</p>
                </div>
            </div>

        </div>
    </section>


    <h1 class="headline" id="projects_part">This is where my projects are gonna be</h1>
    <div id="projects">
        <p class="paragraph">This part is still under construction</p>
    </div>
    <div id="contact"></div>
</div>
 